@font-face {
  font-family: avenir-medium;
  src: url('../fonts/Avenir-LT-65-Medium.ttf');
}

@font-face {
  font-family: avenir-heavy;
  src: url('../fonts/Avenir-LT-85-Heavy.ttf');
}

@font-face {
  font-family: bebas-neue;
  src: url('../fonts/BebasNeue.otf');
}


.main-header {
  display: block;
  margin: 0 auto;
}

.shot {
  color:#e54b4b;
}

.chart {
  color:#504dd0;
}


.player-name {
  padding-top:10px;
  font-family: avenir-heavy;
  font-size:17px;
}

.fa {
  margin-top: 275px;
}

.fa:hover {
  cursor:pointer;
  color:#f49c31;
}

.rating {
  font-size: 36px;
  font-family: avenir-heavy;
  color:#f49c31;
  /*color: #7b7aa5;*/
}